<!DOCTYPE html>
<html lang="en-US">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>

    <body>
        <div id="App1" ng-app="shoppingCart" ng-controller="ShoppingCartController">
            <h1>Your order</h1>
            <div ng-repeat="item in items">
                <span>{{item.product_name}}</span>
                <span>{{item.price | currency}}</span>
                <button ng-click="remove($index);">Remove</button>
            </div>
        </div>

        <div id="App2" ng-app="namesList" ng-controller="NamesController">
            <h1>List of Names</h1>
            <div ng-repeat="_name in names">
                <p>{{_name.username}}</p>
            </div>
        </div>

        <div id="App3" ng-app="myApp" ng-controller="myCtrl" >
            <div >
                <!-- data binding  -->
                <p>Name : <input type="text" ng-model="name"></p>
                <h1>Hello {{name}}</h1>
                <p>The name is <span ng-bind="firstName"></span></p>
                <!-- execute expression -->
                <p>My first expression: {{ 5 + 5 }}</p>
                First Name: <input type="text" ng-model="firstName"><br>
                Last Name: <input type="text" ng-model="lastName"><br>
                <br>
                Full Name: {{firstName + " " + lastName}}

            </div>

        </div>

        <div id="App4" ng-app="angularJsApp" ng-controller="MyController">
            <div >
                <span>MyScope is {{myScope}}</span>
            </div>
        </div>

        <script>
            var shoppingCartModule = angular.module("shoppingCart", [])
            shoppingCartModule.controller("ShoppingCartController",
                                          function($scope) {
                $scope.items = [{
                    product_name: "Product 1",
                    price: 50
                }, {
                    product_name: "Product 2",
                    price: 20
                }, {
                    product_name: "Product 3",
                    price: 180
                }];
                $scope.remove = function(index) {
                    $scope.items.splice(index, 1);
                }
            }
                                         );
            var namesModule = angular.module("namesList", [])
            namesModule.controller("NamesController",
                                   function($scope) {
                $scope.names = [{
                    username: "Nitin"
                }, {
                    username: "Mukesh"
                }];
            }
                                  );
            
            var app = angular.module('myApp', [])
            app.controller('myCtrl', function($scope) {
                $scope.firstName= "John";
                $scope.lastName= "Doe";
            });

            var angularJsApp = angular.module("angularJsApp",[])
            angularJsApp.controller("MyController", function($scope) {
                                    $scope.myScope = "Init";
                                    });

        </script>


        <script>
            //Create angularjs modules 


            angular.bootstrap(document.getElementById("App2"), ['namesList']);
            angular.bootstrap(document.getElementById("App3"), ['myApp']);
            angular.bootstrap(document.getElementById("App4"), ['angularJsApp']);

        </script>
    </body>

</html>
